.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}

.demo-logo {
  display: flex;
  overflow: hidden;
  width: 20%;
  height: 75px;
  justify-content: start;
  align-items: center;
}

@media (max-width: 1620px) {
  .demo-logo {
    width: 20%;
    height: 75px;
    overflow: hidden;
    display: flex;
    justify-content: start;
    align-items: center;
  }
}

.ant-menu-light.ant-menu-horizontal>.ant-menu-item:hover::after,
.ant-menu-light.ant-menu-horizontal>.ant-menu-submenu:hover::after,
.ant-menu-light.ant-menu-horizontal>.ant-menu-item-active::after,
.ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-active::after,
.ant-menu-light.ant-menu-horizontal>.ant-menu-item-open::after,
.ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-open::after {
  border-bottom-color: transparent !important;
}


.ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected::after,
.ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-selected::after {
  border-bottom-color: transparent !important;
}